{% import "os" %}
{% code
type Page struct {
Title string
Description string
}
%}

{% func CommonHeaders() %}
{% code
baseUrl := os.Getenv("BASE_URL")
%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="{%s baseUrl %}/assets/htmx.js"></script>
<script src="{%s baseUrl %}/assets/unocss.js"></script>
<link rel="stylesheet" href="{%s baseUrl %}/assets/pico.css">
<!-- <link rel="stylesheet" href="{%s baseUrl %}/assets/turret.css"> -->
<!-- <link rel="stylesheet" href="{%s baseUrl %}/assets/water.css"> -->
<style>
    [un-cloak] {
        display: none;
    }
</style>

<!-- TODO remove before pushing to production -->
<script>
    var wsuri = "ws://localhost:1234/ws";
    window.onload = function () {
        sock = new WebSocket(wsuri);
        sock.onopen = function () {
            console.log("connected to " + wsuri);
        }
        sock.onclose = function (e) {
            console.log("connection closed (" + e.code + ")");
        }
        sock.onmessage = function (e) {
            window.location.href = window.location.href
        }
    };
    htmx.logAll()
</script>

{% endfunc %}

{% func IndexPage(p *Page, body string) %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <title>{%s p.Title %}</title>
    <meta name="description" content="{%s p.Description %}">
    {%s= CommonHeaders() %}

</head>

<body un-cloak>
    {%s= body %}
</body>

</html>
{% endfunc %}